@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "./scss/Header.scss";
@import "./scss//SearchBox.scss";
@import "./scss/Banner.scss";
@import "./scss/MovieCard.scss";
@import "./scss/MoviesList.scss";
@import "./scss/FoundMovies.scss";
@import "./scss/PlayerModal.scss";


$backColor: linear-gradient(to bottom, #141b29, #0c111b 300px);

*{
  margin:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.App{
  background-image: $backColor;

  .loader{
    max-width:400px;
    margin:20px auto;
  }

  .app_footer{
    background: #376070;
    color: #ffffff;
    font-size:0.8rem;
    font-weight:400;
    margin:10px 0px;
    height:80px;
    display: flex;
    align-items: center;

    .footer_container{
      max-width: 400px;
      margin:10px auto;
      text-align: center;
      padding:10px 20px;
    }
  }
}
