$backColor: #192133;

.movie-card{
    max-width: 180px;
    position: relative;
    margin:20px;
    height:auto;
    transition: transform 650ms;
    border-radius: 12px;

    .movie-poster{
        border-radius: 20px;
        
        img{
            width: 100%;
            height: auto;
            border-radius: 12px;
        }

    }

    .movie-info{
        padding: 30px 10px ;
        letter-spacing: 0.04em;
        opacity: 0;
        background-image: linear-gradient(to bottom, rgba(4,8,15,0), #434343aa, $backColor, $backColor);
        position: absolute;
        margin-bottom:-10px;
        bottom:10px;
        color:#ffffff;
        padding:5px 10px;
        border-radius: 12px;
        transition: transform 250ms;

        .play_btn{

            width: 100px;
            margin:20px auto;

            i{
                font-size:100px;
            }
            
        }

        .movie-title{
            font-size: calc(11px / 1.3);
            font-weight:900;
            text-transform: uppercase;
        }

        .movie-category{
            font-size:9px;
            font-weight:500;
        }

        .movie-description{
            font-size: calc(11px / 1.3);
            font-weight:900px;
            justify-content: space-between;
        }
    }

    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        bottom:10px;

        .movie-poster{
            img{
                transform: scale(1.09);
                border-radius: 12px;
            }
    
        }

        .movie-info{
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

