.movies-collection{

    .collection-name{
        padding:30px 0px 0px 20px;
        color:#ffffff;
        font-size:22px;
        font-weight:800;
    }

    .movies-list{
        margin:0px 40px;
    }
}

